<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.pickage.com.pickage">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name=".contentprovider.UserContentProvider"
                android:authorities="app.pickage.com.pickage.contentprovider.UserContentProvider"/>
        <provider
                android:name=".contentprovider.MessengerContentProvider"
                android:authorities="app.pickage.com.pickage.contentprovider.MessengerContentProvider"/>
        <provider
                android:name=".contentprovider.PackageContentProvider"
                android:authorities="app.pickage.com.pickage.contentprovider.PackageContentProvider"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBc_Hyv_2-Z78gTkblJjCLl6lafO9tcW8E"/>

        <activity
                android:name=".useractivities.LoginActivity"
                android:label="Login"/>
        <activity
                android:name=".useractivities.SignUpActivity"
                android:label="Sign Up"/>
        <activity
                android:name=".useractivities.UserCreditCardDetails"
                android:label="Credit card details"/>
        <activity android:name=".useractivities.UserCurrentLocation">
        </activity>
        <activity android:name=".useractivities.UserChooseLocation">
        </activity>
        <activity android:name=".useractivities.FillPackageDetails"></activity>
        <activity
                android:name=".useractivities.FeedbackUser"
                android:label="Feedback"/>
        <activity
                android:name=".useractivities.FindingMessenger"
                android:label="Messenger is coming your way"/>
        <activity android:name=".useractivities.UploadUserImg"/>
        <activity android:name=".messengeractivities.UploadMessImg"/>
        <activity android:name=".messengeractivities.GetUserPackage"/>
        <activity android:name=".messengeractivities.MessengerDestinationPath"/>
        <activity android:name=".messengeractivities.MessengerMainActivity"/>
        <service android:name=".useractivities.FindMessengerIntentService"/>
        <service android:name=".messengeractivities.MessengerNewPackageIntentService"/>
    </application>
</manifest>